<div class="wrapper">
  <!--  header-->
  <app-header></app-header>
  <!--  side bar left-->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-main-content-header></app-main-content-header>
    <!-- /.content-header -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <!--  footer-->
  <app-footer></app-footer>
</div>
